@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.timelineSection {
  height: 100vh;
  background-color: #212121;
  position: relative;
  z-index: 2;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.timelineSectionIndiv {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.expInfo{
  margin-top: 0;
}
.timeline {
  max-width: 1200px;
  /* background-color:#072736; */
  color: #fff;
  padding: 30px 20px;
  padding-bottom: 0;
  /* margin: auto; */
  /* box-shadow:0px 0px 10px rgba(0,0,0,.5); */
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #21f7c0;
  padding: 10px 5px;
}
.timeline ul li {
  padding: 0px 20px;
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: 1s;
  margin: 10px 0;
}
.timeline ul li span {
  display: inline-block;
  background-color: #2bd6ac;
  border-radius: 25px;
  padding: 5px 8px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.timeline ul li .content h3 {
  color: #21f7c0;
  font-size: 17px;
  padding-top: 5px;
}
.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 15px;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(222, 223, 223);
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}
.timeline ul li:hover {
  /* background-color: #071f2a; */
  transform: scale(1.05) translateX(40px);
  transition: 1s;
}

.timeline ul li:before {
  transition: 1s;
}

.timeline ul li:hover:before {
  background-color: #0f0;
  box-shadow: 0px 0px 10px 2px #0f0;
  transform: scale(1.05) translateX(-50px);
  transition: 1s;
}
@media (max-width: 300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .timeline ul li .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}

.prBTN {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.timelineImage {
  width: 350px;
  margin-left: 50px;
}

.mystyle1{
  animation: cstm1 .8s;
}

.mystyle2{
  animation: cstm2 1.2s;
}

@keyframes cstm1 {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes cstm2 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 900px){

  .timelineSection{
    min-height: 100vh;
    padding:40px 0;
    height: fit-content;
  }
  .timeline {
    color: #fff;
    padding: 10px 5px;
    padding-bottom: 0;
  }

  .timelineImgCont {
    padding: 0;
    margin: 0;
    display: flex;
  }
  .timelineImage {
    width: 60%;
    margin: auto;
  }

  .prBTN{
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .timeline ul li:hover {
    /* background-color: #071f2a; */
    transform: scale(1) translateX(0px);
    transition: 1s;
  }
  
  .timeline ul li:before {
    transition: 1s;
  }
  
  .timeline ul li:hover:before {
    background-color: #0f0;
    box-shadow: 0px 0px 10px 2px #0f0;
    transform: scale(1) translateX(-10px);
    transition: 1s;
  }
  .timelineSectionInner{
    width: 90%;
  }
}

@media (max-width: 700px){
  .timelineSectionInner{
    width: 100%;
  }
}